{% extends "base/base.html" %}


{% block body_attrs %}
  ng-app="invite"
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='focus2/js/invite.js') }}"></script>
{% endblock %}


{% block content %}
  {% from 'base/macros.html' import input_horizontal %}
  {% from 'base/macros.html' import select_horizontal %}

  <div class='container'>
    <div class="row" ng-controller="InviteController">
      <div class="span6">
        <form class="form-horizontal well" autocomplete="off" method="POST" action="{{ request.path }}">
          <fieldset>
            {{ select_horizontal(form.projects,
                 is_multiple=True,
                 data=data, is_required=True) }}

            {{ input_horizontal(form.email, is_required=True) }}

            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Invite</button>
              <a href="javascript: history.back();" class="btn">Cancel</a>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="span5">
        <h3>Allowed domains:</h3>
        <ul>
          {% for dom in data["domains"] %}
            <li>{{ dom }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
