{% extends "base/base.html" %}


{% block content %}
  {% from 'base/macros.html' import spawn_vm_button %}

  <div class='container'>
    <div>
      {{spawn_vm_button("project=" + data.project["id"])}}
    </div>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th width="200px">Name</th>
        <th>{{data.project["name"]}}</th>
      </tr>
      <tr>
        <td>Total Users</td>
        <td>{{data.stats["members"]}}</td>
      </tr>
      <tr>
        <td>Total Images</td>
        <td>{{data.stats["total-images"]}}</td>
      </tr>
      <tr>
        <td>Total Virtual Machines</td>
        <td>{{data.stats["instances"]}}</td>
      </tr>
      <tr>
        <td>VLAN</td>
        <td>{{data.network["vlan"]}}</td>
      </tr>
      <tr>
        <td>CIDR</td>
        <td>{{data.network["cidr"]}}</td>
      </tr>
    </table>
  </div>
{% endblock %}
