{% extends "base/base.html" %}


{% from "vms/macros.html" import search_pagination, searches_panel %}


{% block js %}
<script src="{{ url_for('static', filename='deps/angular/angular-resource.min.js') }}"></script>
<script src="{{ url_for('static', filename='focus2/js/vms_index.js') }}" type='text/javascript'></script>
{% endblock %}


{% block body_attrs %} ng-app='vms_index'{% endblock %}


{% block content %}
<div class='container'>
  <div class='row'>
    <div class='span10' ng-view>
    </div>
    <div class='span2'>
      <div class='accordion' id='panel_accordion'>
        {{ searches_panel('Predefined Searches', predefined_searches, 'panels-accordion', 'predefined-searches') }}
        {{ searches_panel('User Searches', user_searches, 'panels-accordion', 'user-searches') }}
      </div>
    </div>
  </div>
</div>
{% raw %}
<script type="text/ng-template" id="partials/search.html">
  <form action='.' class='form-inline' id='search_form' method='GET'>
    <div class='input-append search_input_container'>
      <input type='text' ng-model='query' class="span2 search" style="width: 30em;">
      <a class='btn dropdown-toggle'>
        <span class='caret'></span>
      </a>
    </div>
    <div class='input-append'>
      <div class='btn-group'>
        <a class='btn btn-straight saved_searches_lever' ng-click="update_location()">Search</a>
        <a class='btn dropdown-toggle btn-straight'>
          <span class='caret'></span>
        </a>
      </div>
    </div>
    <div class='btn-group per-page'>
      <select style="width: auto" ng-model="perPage" ng-change="update_location()">
        <option ng-repeat="x in per_page_choices" >{{ x }}</option>
      </select>
    </div>

    <a class="btn" ng-click="toggle_columns_editor_visibility()" id="columns_visibility_toggle_button">Columns</a>
    <div ng-show="columns_editor_visible" float-around="#columns_visibility_toggle_button">
      Foobar
    </div>

  </form>
  <table class='table table-striped table-bordered table-condensed' ng-show='search.data.length > 0'>
    <thead>
      <tr>
        <th>
          <input type='checkbox'>
        </th>
        <th>
          Name
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='x in search.data'>
        <td>
          <input type='checkbox'>
        </td>
        <td>
          {{ x.name }}
        </td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top: 0px;" class="pagination" ng-show="search.data.length > 0">
    <ul>
      <li ng-repeat="x in search.pagination.pages" ng-class="search.pagination.current == x && 'active'">
        <a ng-click="change_page(x)">{{ x }}</a>
      </li>
    </ul>
  </div>

  <div class='alert alert-info' ng-show='search.data.length == 0'>
    Use search to find virtual machines you are interested in.
  </div>
  {{ search_pagination(paginator) }}
</script>
{% endraw %}
{% endblock %}
