{% extends "base/base.html" %}


{% block css %}
<link href="{{ url_for('static', filename='deps/select2/select2.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='deps/jquery/css/jquery-ui-1.8.24.custom.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='focus2/css/select2.css') }}" rel='stylesheet' type='text/css'>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='deps/angular/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='deps/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='deps/jquery/js/jquery-ui-1.8.24.custom.min.js') }}"></script>
{% endblock %}


{% block content %}
  {% from 'base/macros.html' import modal_dialog %}

  {{modal_dialog("reboot", "Reboot Confirmation",
                 "Are you sure to reboot VM %s created by %s?" % (data.vm["name"], data.vm["created-by"]["name"]),
                 url_for("vms.action", id=data["vm"]["id"], command="reboot"))}}
  {{modal_dialog("reset", "Reset Confirmation",
                 "Are you sure to reset VM %s created by %s?" % (data.vm["name"], data.vm["created-by"]["name"]),
                 url_for("vms.action", id=data["vm"]["id"], command="reset"))}}
  {{modal_dialog("delete", "Delete Confirmation",
                 "Are you sure to delete VM %s created by %s?" % (data.vm["name"], data.vm["created-by"]["name"]),
                 url_for("vms.action", id=data["vm"]["id"], command="remove"),
                 cannot_revert=True)}}

  <div class='container'>
    <div>
      <div class="btn-group span4" style="margin: 0px 0px 20px 0px;">
        <a href="#reboot" class="btn btn-success" data-toggle="modal">Reboot</a>
        <a href="#reset" class="btn btn-success" data-toggle="modal">Reset</a>
        <a href="{{url_for("vms.action", id=data.vm["id"], command="vnc")}}"  target="_blank" class="btn btn-success">Show VNC</a>
        <a href="{{url_for("vms.action", id=data.vm["id"], command="console-output")}}"  target="_blank" class="btn btn-success">Show log</a>
      </div>
      <div class="span1 pull-right" style="margin: 0px 0px 20px 0px;">
        <a href="#delete" class="btn btn-danger" data-toggle="modal">Delete</a>
      </div>
    </div>
    <table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
      <tr>
        <td colspan=2>
          <h4>
            VM
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        <td>{{data.vm["id"]}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{"%s%s" % (data.vm["state"], " (no suitable host found)" if not data.vm["hostId"] and data.vm["state"] == "ERROR" else "")}}</td>
      </tr>
      <tr>
        <td>VLAN</td>
        <td>{{data.network["vlan"]}}</td>
      </tr>
      <tr>
        <td>IP</td>
        <td>
          {% for ip in data.vm["ipv4"] %}
            {% if not loop.last %}, {% endif %}
            {{ip}}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{data.vm["created"] | datetimeformat("%d/%m/%Y %H:%M:%S")}}</td>
      </tr>
      <tr>
        <td>Project</td>
        <td><a href="{{url_for("projects.show", id=data.vm["project"]["id"])}}">{{data.vm["project"]["name"]}}</a></td>
      </tr>
      <tr>
        <td>User</td>
        <td>
          <a href="{{url_for("projects.members_show", id=data.vm["created-by"]["id"])}}">{{data.vm["created-by"]["name"]}}</a>
        </td>
      </tr>
      <tr>
        <td>Security Groups</td>
        <td>
          <select class="select2 chzn-select-tagged" multiple>
            <option selected>default</option>
            <option selected>sg1</option>
            <option selected>sg2</option>
            <option>sg3</option>
            <option>sg4</option>
          </select>
        </td>
      </tr>
    </table>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td colspan=2>
          <h4>
            Image
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        {# get image id from VM dictionary because the image object
        can be deleted #}
        <td>{{data.vm["image"]["id"]}}</td>
      </tr>
      {% if data.image %}
        <tr>
          <td>Name</td>
          <td><a href="{{url_for("images.show", id=data.vm["image"]["id"])}}">{{data.image["name"]}}</a></td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{data.image["size"] | filesizeformat}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            {% if data.image["kernel"] %}
              Amazon Like
            {% else %}
              Solid
            {% endif %}
          </td>
        </tr>
      {% endif %}
    </table>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td colspan=2>
          <h4>
            Type
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        <td>{{data.vm["instance-type"]["id"]}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td><a href="{{url_for("vms.types_show", id=data.vm["instance-type"]["id"])}}">{{data.instance_type["name"]}}</a></td>
      </tr>
      <tr>
        <td>RAM</td>
        <td>{{data.instance_type["ram"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Disk</td>
        <td>{{data.instance_type["root-size"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Additional Disk</td>
        <td>{{data.instance_type["ephemeral-size"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Virtual CPUs</td>
        <td>{{data.instance_type["cpus"]}}</td>
      </tr>
    </table>
  </div>
{% endblock %}
