{% extends "base/base.html" %}


{% block css %}
<link href="{{ url_for('static', filename='deps/select2/select2.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='deps/jquery/css/jquery-ui-1.8.24.custom.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='focus2/css/select2.css') }}" rel='stylesheet' type='text/css'>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='deps/angular/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='deps/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='deps/jquery/js/jquery-ui-1.8.24.custom.min.js') }}"></script>
{% endblock %}


{% block content %}
  <div class='container'>
    <div>
      <div class="btn-group span4" style="margin: 0px 0px 20px 0px;">
        <a href="#" class="btn btn-success">Reboot</a><a href="#" class="btn btn-success">Reset</a><a href="#" class="btn btn-success">Show VNC</a><a href="#" class="btn btn-success">Show log</a>
      </div>
      <div class="span1 pull-right" style="margin: 0px 0px 20px 0px;">
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
    <table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
      <tr>
        <td colspan=2>
          <h4>
            VM
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        <td>{{data.vm["id"]}}</td>
      </tr>
      <tr>
        <td>VLAN</td>
        <td>321</td>
      </tr>
      <tr>
        <td>IP</td>
        <td>
          {% for ip in data.vm["ipv4"] %}
            {% if not loop.last %}, {% endif %}
            {{ip}}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{data.vm["created"] | datetimeformat("%d/%m/%Y %H:%M:%S")}}</td>
      </tr>
      <tr>
        <td>Project</td>
        <td><a href="project_details.html">{{data.vm["project"]["name"]}}</a></td>
      </tr>
      <tr>
        <td>User</td>
        <td>
          <a href="user_details.html"> openstack-core@griddynamics.com </a>
        </td>
      </tr>
      <tr>
        <td>Tags</td>
        <td>
          <select class="select2 chzn-select-tagged" multiple>
            <option selected>a1</option>
            <option selected>gdfigujfdi</option>
            <option selected>tag1</option>
            <option>tag2</option>
            <option>tag7</option>
          </select>
        </td>
      </tr>
      <tr ng-controller="MetadataController">
        <td>
          <div style="position: relative;">
            <span class="help-inline" style="position: absolute; display: block; right: 4px;">
              <a class="btn btn-mini btn-success" ng-click="show_add=!show_add" ng-show="!show_add">
                <i class="icon-plus-sign icon-white"></i>
              </a>
            </span>
            Metadata
          </div>
        </td>
        <td>
          <div class="controls" style="position: relative;">
            <p ng-show="pairs.length == 0 && !show_add" style="padding-top: 6px"><i>Add some metadata.</i></p>
            <div ng-repeat="x in pairs" ng-controller="ExistingPairController">
              <input type="text" ng-model="x.name" ng-disabled="disabled"/> 
              <input type="text" ng-model="x.value" ng-disabled="disabled"/>
              <a class="btn btn-mini btn-danger" ng-click="removePair(name)" ng-show="disabled" style="margin-top: -8px"><i class="icon-remove-sign icon-white"></i></a>
              <a class="btn btn-mini btn-info" ng-click="editPair()" ng-show="disabled" style="margin-top: -8px"><i class="icon-pencil icon-white"></i></a>
              <a class="btn btn-mini btn-primary" ng-click="disabled=true" ng-show="!disabled" style="margin-top: -8px"><i class="icon-ok icon-white"></i></a>
              <a class="btn btn-mini" ng-click="restorePair()" ng-show="!disabled" style="margin-top: -8px"><i class="icon-ban-circle"></i></a>
            </div>
            <p ng-show="show_add">
              <input type="text" ng-model="name" placeholder="Key"/>
              <input type="text" ng-model="value" placeholder="Value"/>
              <a class="btn btn-mini btn-primary" ng-click="add()" style="margin-top: -8px"><i class="icon-ok icon-white"></i></a>
              <a class="btn btn-mini" ng-click="show_add=!show_add" style="margin-top: -8px"><i class="icon-ban-circle"></i></a>
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>Security Groups</td>
        <td>
          <select class="select2 chzn-select-tagged" multiple>
            <option selected>default</option>
            <option selected>sg1</option>
            <option selected>sg2</option>
            <option>sg3</option>
            <option>sg4</option>
          </select>
        </td>
      </tr>
    </table>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td colspan=2>
          <h4>
            Image
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        {# get image id from VM dictionary because the image object
        can be deleted #}
        <td>{{data.vm["image"]["id"]}}</td>
      </tr>
      {% if data.image %}
        <tr>
          <td>Name</td>
          <td><a href="{{url_for("images.show", id=data.vm["image"]["id"])}}">{{data.image["name"]}}</a></td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{data.image["size"] | filesizeformat}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            {% if data.image["kernel"] %}
              Amazon Like
            {% else %}
              Solid
            {% endif %}
          </td>
        </tr>
      {% endif %}
    </table>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td colspan=2>
          <h4>
            Type
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        <td>{{data.vm["instance-type"]["id"]}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td><a href="{{url_for("vms.types_show", id=data.vm["instance-type"]["id"])}}">{{data.instance_type["name"]}}</a></td>
      </tr>
      <tr>
        <td>RAM</td>
        <td>{{data.instance_type["ram"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Disk</td>
        <td>{{data.instance_type["root-size"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Additional Disk</td>
        <td>{{data.instance_type["ephemeral-size"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Virtual CPUs</td>
        <td>{{data.instance_type["cpus"]}}</td>
      </tr>
    </table>
  </div>
{% endblock %}
