{% extends "base/base.html" %}

{% block css %}
%link(href="{{ url_for('static', filename='deps/chosen/css/chosen.css') }}" rel="stylesheet" type="text/css")
{% endblock %}
{% block js %}
%script(src="{{ url_for('static', filename='deps/chosen/js/chosen.jquery.min.js') }}")
%script(src="{{ url_for('static', filename='focus2/js/VMSSpawn.js') }}")
{% endblock %}

{% block content %}
.container
  .row
    .span10
      -# spawn form
      %form.form-horizontal.well.ng-pristine.ng-valid#spawn_form(method="GET" action=".")
        %fieldset
          .control-group
            %label.control-label
              %b Project
            .controls
              %select(                                        name="project"
                                        class="chzn-select"
                                        id="project"
                                        data-placeholder="Select Project"
                                        tabindex="1"
                                        ng-model="selected_project"
                                        ng-options="x for x in projects"
                                        chosen)


{% endblock %}
