{% extends "base/base.html" %}

{% block content %}
{% from 'base/macros.html' import input_horizontal %}

  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li>Personal Settings <span class="divider">/</span></li>
      <li class="active">Change Password</li>
    </ul>

    <div class="span6">
      <form action='.' class='form-horizontal well ng-pristine ng-valid'
            method='POST'>
            <fieldset>
              {{ input_horizontal(form.current, is_required=True) }}
              {{ input_horizontal(form.new, is_required=True) }}
              {{ input_horizontal(form.confirm, is_required=True) }}

              <div class="form-actions">
                <button class="btn btn-primary" ng-click="">
                  Change
                </button>
                <a class="btn" href="javascript:history.back()">
                  Cancel
                </a>
              </div>              
            </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
