{% extends "base/base.html" %}


{% block js %}
<script src="{{ url_for('static', filename='focus2/js/settings_credentials.js') }}"></script>
{% endblock %}


{% block content %}
  <div class="container" ng-app="settings_credentials">
    <ul class="breadcrumb">
      <li><a href="{{ url_for("dashboard.index") }}">Home</a> <span class="divider">/</span></li>
      <li>Personal Settings <span class="divider">/</span></li>
      <li class="active">Credentials</li>
    </ul>

    <div class="span6"  ng-controller='CredentialsController'>
      <form action='.' class='form-horizontal well ng-pristine ng-valid'
            method='GET'>
            <fieldset>
              <div class='control-group'>
                <label class='control-label'>
                  Project
                </label>
                <div class='controls'>
                  <select class='select2' ng-model='project' allow-clear>
                    <option value="">(none)</option>
                    {% for i in data.projects %}
                      <option value="{{i["name"]}}">{{i["name"]}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </fieldset>
      </form>

      <textarea class="span6" rows="9">{{credentials_text}}</textarea>
      <br/>
      <a href="?download=1&project={{ "{{" }}project}}">Download credentials</a>
      <p> Edit file before use: set your password. </p>
    </div>
  </div>
{% endblock %}
