{% extends "dashboard/base.html" %}

{% block js %}
<script src="{{ url_for('static', filename='focus2/js/dashboard_module.js') }}"></script>
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='focus2/css/dashboard.css')}}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='focus2/css/index.css')}}" rel='stylesheet' type='text/css'>
{% endblock %}


{% block content %}
<script>
  //<![CDATA[
    window.data = {{ dashboard_objects|tojson|safe }};
  //]]>
</script>
<div class='container' ng-app='dashboard_module' ng-controller='DashboardController'>
  <div class='row all-links hidden'  show-when-ready>
    {% raw %}
    <div class='span2 links-repo'  id="accordion2">
        <div class='accordion-group' ng-repeat='group in groups'>
          <div class='accordion-heading'>
            <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#accordion2_{{ $index }}'>
              <b>{{ group.key }}</b>
            </a>
          </div>
          <div class='accordion-body collapse' id='accordion2_{{ $index }}' ng-class='{in: $first}'>
            <div class='accordion-inner'>
              <p ng-repeat='link in group.links' style='position: relative'>
                <img class='pin'
                     {% endraw %}
                     src='{{ url_for("static", filename="focus2/img/1354112560_pushpin-2.png") }}'
                     {% raw %}
                     ng-show='link.employed'
                     ng-click="unpin(link.href)"
                     >
                <img class='pin'
                     {% endraw %}
                     src='{{ url_for("static", filename="focus2/img/1354112565_pin.png") }}'
                     {% raw %}
                     ng-show='!link.employed'
                     ng-click="pin(link.href)">
                <a drag-from-left="link" dashboard-accordion-link='link' href='{{ link.href }}' style="background-image: url('{{ link.small }}'); padding-left: 20px; background-repeat: no-repeat; background-position: 2px center; ">
                  {{ link.title }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    <div class='span10 quick-links'>
        <div class='droppable droppable-empty' dashboard-cell-box='dashboard-cell-box' ng-repeat='cell in cells' drop-from-left>
            <span class='thumbnail'ng-show='!cell'>Drag link here</span>
            <a class='thumbnail' href='{{ cell.href }}' ng-show='cell' draggable-cell>
                <div class='xxx-hoverit' ng-click='unpin(cell.href)' eat-click>x</div>
                <img ng-src='{{ cell.img }}'>
                <div class='caption'>
                  <h5 class='nobr'>{{ cell.full_title }}</h5>
                </div>
            </a>
        </div>
    </div>
    {% endraw %}
  </div>
</div>
{% endblock %}
