<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
    <title>
      {{ app_title }}
    </title>
    <meta content='{{ page_description }}' name='description'>
    <link href="{{ url_for('static', filename='focus2/img/favicon.ico') }}" rel='icon' type='image/x-icon'>
    {% block base_css %}
    <link href="{{ url_for('static', filename='deps/bootstrap/css/bootstrap.css')}}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='deps/bootstrap/css/bootstrap-responsive.css')}}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='deps/angular-ui/angular-ui.min.css')}}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='deps/jquery/css/smoothness/jquery-ui-1.10.1.custom.min.css')}}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='deps/select2/select2.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='focus2/css/select2.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='focus2/css/main.css')}}" rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block css %}{% endblock %}
    <!--[if lte IE 8]>
        <script>
          // The ieshiv takes care of our ui.directives, bootstrap module directives and
          // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
          // However, IF you have custom directives (yours or someone else's) then
          // enumerate the list of tags in window.myCustomTags

          window.myCustomTags = []; // optional
        </script>
        <script src="{{ url_for('static', filename='deps/angular-ui/angular-ui-ieshiv.min.js') }}"></script>
        <![endif]-->
  </head>
  <body class='{% block body_class %}{% endblock %}'{% block body_attrs %}{% endblock %}>
    {% block navbar %}
    <style>
            /*<![CDATA[*/
        @media (min-width: 966px) {
            body { padding-top: 60px }
        }
            /*]]>*/
    </style>
    <div class='navbar navbar-inverse navbar-fixed-top' style='z-index: 100;'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <a class='brand' href="{{ url_for("dashboard.index") }}">
            <img src="{{ url_for('static', filename='focus2/img/GridDynamics-brandmark-24x24px.png') }}">
            Altai Private Cloud
          </a>
          <div class='nav-collapse collapse' style='height: 0px;'>
            <ul class='nav pull-right'>
              <li>
                <a href="{{ url_for('authentication.logout') }}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block flash_messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='container'>
      <div class='row'>
        <div class='span12'>
          {% for category, message in messages %}
          <div class='alert alert-{{ category }}'>
            <button class='close' data-dismiss='alert' type='button'>&times;</button>
            {{ message }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endblock %}
    {% block breadcrumbs %}
    {% if breadcrumbs or breadcrumb_button %}
    <div class='container'>
      <div class='row'>
        <div class='span12'>
          <ul class='breadcrumb'>
            {% if breadcrumbs %}
            {% for title, url in breadcrumbs %}
            <li class='{% if loop.last %}active{% endif %}'>
              {% if url is not none %}
              <a href='{{ url }}'>{{ title }}</a>
              {% else %}
              {{ title }}
              {% endif %}
              {% if not loop.last %}
              <span class='divider'>/</span>
              {% endif %}
            </li>
            {% endfor %}
            {% endif %}
            {% if breadcrumb_button %}
            <li class='pull-right'>
              <a class='btn btn-mini btn-success nobr' href='{{ breadcrumb_button[0] }}'>
                <i class='icon-plus-sign icon-white'></i>
                &nbsp;
                {{ breadcrumb_button[1] }}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
    <div class='container b-footer'>
      <a href='https://altaicloud.atlassian.net/'>Altai</a>
      Focus UI v.{{ application_version }}
      &nbsp;|&nbsp;
      <a href='http://griddynamics.zendesk.com/'>Support&nbsp;Desk</a>
      &nbsp;|&nbsp;
      <a href='http://altaicloud.myjetbrains.com/'>Issues Tracker</a>
    </div>
  </body>
  {% block base_js %}
  {# The order of *.js files matters #}
  <script src="{{ url_for('static', filename='deps/jquery/js/jquery-1.9.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='deps/jquery/js/jquery-ui-1.10.1.custom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='deps/angular/angular.min.js') }}"></script>
  <script src="{{ url_for('static', filename='deps/angular-ui/angular-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='deps/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='deps/select2/select2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='focus2/js/common.js') }}"></script>
  {% endblock %}
  {% block js %}{% endblock %}
</html>
