{% macro field_errors(field) -%}
    {% if field.errors %}
    <span class='help-inline'>
      {% for x in field.errors %}
      {% if not loop.first %}
      <br>
      {% endif %}
      {{ x }}
      {% endfor %}
    </span>
    {% endif %}
{%- endmacro %}


{% macro input_horizontal(field, ng_model=None, is_required=False, is_readonly=False) -%}
<div class='control-group{% if field.errors %} error{% endif %}'>
  {% if field.widget.input_type != 'checkbox' %}
  <label class='control-label' for='{{ field.label.field_id }}'>
    {% if is_required %}
    <b>{{ field.label.text }}</b>
    {% else %}
    {{ field.label.text }}
    {% endif %}
  </label>
  {% endif %}
  <div class='controls'>
    {% if field.widget.input_type == 'checkbox' %}
    <label class='checkbox'>
      {% if field.data %}
      <input class='checkbox' name='{{ field.name }}' type='checkbox'>
      {% else %}
      <input class='checkbox' name='{{ field.name }}' type='checkbox'>
      {% endif %}
      {{ field.label.text }}
    </label>
    {% else %}
    <input id='{{ field.label.field_id }}' name='{{ field.name }}' type='{{ field.widget.input_type }}'
           value='{{ field.data or "" }}'
           {% if is_readonly %} readonly="readonly" {% endif %}
    {% if ng_model is not none %}
      ng-init='{{ ng_model }} = {{ field.data|tojson }}' ng-model='{{ ng_model }}'
    {% else %}
      placeholder='{{ field.placeholder }}'
    {% endif %}
    >
    {% endif %}
    {{field_errors(field)}}
  </div>
</div>
{%- endmacro %}

{% macro select_horizontal(field,
  data,
  is_required=False,
  is_multiple=False,
  group_attrs=None,
  plus_button_href=None,
  opt_id="id",
  opt_name="name"
  ) -%}
  {% set field_id = field.label.field_id %}
<div class='control-group{% if field.errors %} error{% endif %}'
  {% if group_attrs %}{{ group_attrs|safe }}{% endif %}>
  <label class='control-label' for='{{ field.label.field_id }}'>
    {% if is_required %}
      <b>{{ field.label.text }}</b>
    {% else %}
      {{ field.label.text }}
    {% endif %}
  </label>

  <div class='controls'>
    <select id='{{ field_id }}'
            name='{{ field_id }}'
            class='select2'
            {% if is_multiple %}multiple{% endif %}
            ng-model='form.{{field_id}}'
            {% for k, v in kwargs.iteritems() %}
              {{ k.replace("_", "-") }}="{{ v }}"
            {% endfor %}
            {% if not is_required %}
              allow-clear
            {% endif %}
            >
            {% if is_multiple %}
              <option></option>
            {% else %}
              <option value=""></option>
            {% endif %}
            {% for i in data[field_id] %}
              <option value="{{ i[opt_id] }}">{{ i[opt_name] }}</option>
            {% endfor %}
    </select>
    {% if plus_button_href %}
    <span class="help-inline">
      <a class="btn btn-mini btn-success" href="{{plus_button_href}}">
        <i class="icon-plus-sign icon-white"></i>
      </a>
    </span>
    {% endif %}
    {% if field.errors %}
    <span class='help-inline'>
      {% for x in field.errors %}
        {% if not loop.first %}
          <br/>
        {% endif %}
        {{ x }}
      {% endfor %}
    </span>
  {% endif %}
  </div>
</div>
{%- endmacro %}


{% macro spawn_instance_button(querystring) -%}
  <div class="btn-group span4" style="margin: 0px 0px 20px 0px;">
    <a href="{{url_for('instances.spawn')}}?{{querystring}}" class="btn btn-success">
       <i class='icon-plus-sign icon-white'></i>
       Spawn instance
    </a>
  </div>
{%- endmacro %}


{% macro modal_dialog(id, title, message, url, cannot_revert=False) -%}
  <div id="{{id}}" class="modal hide">
    <div class="modal-header">
      <a data-dismiss="modal" class="close">×</a>
      <h3>{{title}}</h3>
    </div>
    <div class="modal-body">
      <p>
        {{message}}
      </p>
    </div>
    <div class="modal-footer">
      <form method="post" action="{{url}}">
        {% if cannot_revert %}
        <span class="label label-important" style="float: left;">
          Important: this action cannot be reverted
        </span>
        {% endif %}
        <button class="btn">
          Yes
        </button>
        <a class="btn btn-primary" href="#" data-dismiss="modal">
          No
        </a>
      </form>
    </div>
  </div>
{%- endmacro %}
