.back_panel{
    position: absolute;
    left: 0;
    top: 40px;
    float: left;
    width: 70px;
    opacity: 0.2;
    overflow: hidden;
}
.back_panel a{
    background-color: #F5F5F5;
    color: #000000;
    padding-top: 15px;
    padding-left: 15px;
    text-decoration: none;
    display: block;
    width: 70px;
    height: 100%;
}
