{% extends "authentication/base.html" %}
{% block content %}
{% from 'base/macros.html' import input_horizontal %}
<div class='row'>
  <div class='offset3 span6'>
    <form action='.' class='form-horizontal' method='POST'>
      {{ form.hidden_tag() }}
      <div class='control-group'>
        <div class='controls'>
          <h4>Choose new password</h4>
        </div>
      </div>
      {{ input_horizontal(form.password) }}
      {{ input_horizontal(form.confirm_password) }}
      <div class='control-group'>
        <div class='controls'>
          <button class='btn' type='submit'>Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
