{% extends "authentication/base.html" %}
{% from 'base/macros.html' import input_horizontal %}
{% block content %}
<style>
  /*<![CDATA[*/
    .password_recovery__control_group__bare_bottom {
      margin-bottom: 0px;
    }
    .password_recovery__ul_inline__inline_block {
      width: 220px;
      display: inline-block
    }
    .password_recovery__inline_li__bare_padding {
      padding-left: 0px;
    }
  /*]]>*/
</style>
<div class='row' ng-app>
  <div class='offset3 span6'>
    <form action='.' class='form-horizontal' method='POST'>
      <div class='control-group'>
        <div class='controls'>
          <h4>Recover Password</h4>
        </div>
      </div>
      {{ input_horizontal(form.identifier, "a") }}
      <div class='control-group{% if form.kind.errors %} error{% endif %} password_recovery__control_group__bare_bottom'>
        <div class='controls'>
          <ul class='inline password_recovery__ul_inline__inline_block'>
            {% for subfield in form.kind %}
            <li class='password_recovery__inline_li__bare_padding'>
              <label class='radio'>
                <input id='{{ subfield.id }}' name='{{ subfield.name }}' ng-disabled='!a' type='radio' value='{{ subfield.data }}'>
                {{ subfield.label.text }}
              </label>
            </li>
            {% endfor %}
          </ul>
          {% if form.kind.errors %}
          <span class='help-inline'>
            {% for x in form.kind.errors %}
            {% if not loop.first %}
            <br>
            {% endif %}
            {{ x }}
            {% endfor %}
          </span>
          {% endif %}
        </div>
      </div>
      <div class='control-group'>
        <div class='controls'>
          <button class='btn' type='submit'>Recover</button>
          &nbsp;::&nbsp;
          <a href="{{ url_for('.login') }}">login</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
