{% extends "base/base.html" %}


{% from "instances/macros.html" import search_pagination, searches_panel %}


{% block js %}
<script src="{{ url_for('static', filename='deps/angular/angular-resource.min.js') }}"></script>
<script src="{{ url_for('static', filename='focus2/js/instances_index.js') }}" type='text/javascript'></script>
{% endblock %}


{% block body_attrs %} ng-app='instances_index'{% endblock %}


{% block content %}
<div class='container'>
  <div class='row'>
    <div class='span10' ng-view>
    </div>
    <div class='span2'>
      <div class='accordion' id='panel_accordion'>
        {{ searches_panel('Predefined Searches', predefined_searches, 'panels-accordion', 'predefined-searches') }}
        {{ searches_panel('User Searches', user_searches, 'panels-accordion', 'user-searches') }}
      </div>
    </div>
  </div>
</div>
{% raw %}
<script type="text/ng-template" id="partials/search.html">
  <form action='.' class='form-inline' id='search_form' method='GET'>
    <div class='input-append search_input_container'>
      <input type='text' ng-model='query' class="span2 search" style="width: 30em;">
      <a class='btn dropdown-toggle'>
        <span class='caret'></span>
      </a>
    </div>
    <div class='input-append'>
      <div class='btn-group'>
        <a class='btn btn-straight saved_searches_lever' ng-click="update_location()">Search</a>
        <a class='btn dropdown-toggle btn-straight' ng-click="toggle_visibility('saved_searches'); update_queries()">
          <span class='caret'></span>
        </a>

      </div>
    </div>
    <div class='btn-group per-page'>
      <select style="width: auto" ng-model="perPage" ng-change="update_location()">
        <option ng-repeat="x in per_page_choices" >{{ x }}</option>
      </select>
    </div>

    <a class="btn" ng-click="toggle_visibility('column_editor')" id="columns_visibility_toggle_button">Columns</a>
    <!-- Columns editor -->
    <div ng-show="visibility.column_editor" float-around="#columns_visibility_toggle_button">
      <div  style="position: absolute" class="columns_window">
        <div class="alert control-bar-form nobr">
          <H4>Hellow</H4>
          <button type="button" class="close" ng-click="toggle_visibility('column_editor')">×</button>
          <h5>Change Columns</h5>
          <form class="form-inline">
            <div class="row" >
              <div class="span2">
                Available<br>
                <select multiple="true"  style="height: 10em; width: 170px;" ng-model="selected_hidden">
                  <option ng-repeat="x in hidden_columns" value="{{ x }}" >{{ x }}</option>
                  </select>
              </div>
              <div class="span1" style="text-align: center; margin-left: 10px">
                <div style="vertical-align: top;display: inline-block; position: relative; width: 9em;">
                  <button class="btn"
                      type="button"
                      style="display: inline-block; position: absolute; top: 2em; left: 3em"
                      ng-click="changeOrder(selected_shown, 'up')">
                    <i class="icon-arrow-up"></i>
                  </button>
                  <button
                      class="btn"
                      type="button"
                      style="display: inline-block; position: absolute; top: 4em; left: 0em"
                      ng-click="horizontalDisplace(selected_shown, 'hide')">
                    <i class="icon-arrow-left"></i>
                  </button>
                  <button class="btn"
                      type="button"
                      style="display: inline-block; position: absolute; top: 4em; left:3em"
                      ng-click="horizontalDisplace(selected_hidden, 'show')">
                    <i class="icon-arrow-right"></i>
                  </button>
                  <button class="btn"
                      type="button"
                      style="position: absolute; top: 6em; left: 3em"
                      ng-click="changeOrder(selected_shown, 'down')">
                    <i class="icon-arrow-down"></i>
                  </button>
                </div>
               </div>
               <div class="span2">
                 Visible<br>
                 <select multiple="true" style="height: 10em;width: 170px;" ng-model="selected_shown">
                   <option ng-repeat="x in shown_columns" value="{{ x }}" >{{ x }}</option>
                 </select>
               </div>
             </div>
           </form>
        </div>
      </div>
    </div>
    <!-- end of column editor -->
    <!-- ------------- SAVED SEARCHES ------------------- -->
    <div style="position: absolute;"  class="saved_searches_window" >
        <div class="alert control-bar-form nobr" ng-show="visibility.saved_searches">
            <button type="button" class="close" ng-click="toggle_visibility('saved_searches')">×</button>
            <h5>Saved Searches</h5>
            <form class="form-inline">
                <input type="text" ng-model="new_search_query" placeholder="Search Name">
                <button class="btn btn-primary"  ng-click="newSearch(new_search_query)">Save New</button>
            </form>
            <table class="table table-condensed table-bordered table-striped">
                <tbody>
                <tr ng-repeat="x in search_queries">
                    <td>
                        <div style="overflow: hidden;text-overflow: ellipsis; width: 276px;">
                            <a ng-click="applyQuery(x.query)">{{ x.query }}</a>
                        </div>
                    </td>
                    <td style="text-align: right; border-left: none;" width="50">
                      <a class="btn btn-danger btn-mini" ng-click="deleteSearch(x.id)">delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- end saved searches -->
  </form>
  <h3>{{ columns_data }}</h3>
  <table class='table table-striped table-bordered table-condensed' ng-show='instances.data.length > 0'>
    <thead>
      <tr>
        <th>
          <input type='checkbox'>
        </th>
        <th ng-repeat='x in shown_columns'>
          {{ x }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='x in instances.data'>
        <td><input type='checkbox'></td>
        <td ng-repeat='i in shown_columns' ng-bind-html-unsafe="columns_data(i, x)"></td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top: 0px;" class="pagination" ng-show="instances.data.length > 0">
    <ul>
      <li ng-repeat="x in instances.pagination.pages" ng-class="instances.pagination.current == x && 'active'">
        <a ng-click="change_page(x)">{{ x }}</a>
      </li>
    </ul>
  </div>

  <div class='alert alert-info' ng-show='instances.data.length == 0'>
    Use search to find virtual machines you are interested in.
  </div>
  {{ search_pagination(paginator) }}
</script>
{% endraw %}
{% endblock %}
