{% extends "base/base.html" %}


{% block css %}
{% endblock %}


{% block js %}
{% endblock %}


{% block content %}
  {% from 'base/macros.html' import modal_dialog %}

  {{modal_dialog("reboot", "Reboot Confirmation",
                 "Are you sure to reboot instance %s created by %s?" % (data.instance["name"], data.instance["created-by"]["name"]),
                 url_for("instances.action", id=data["instance"]["id"], command="reboot"))}}
  {{modal_dialog("reset", "Reset Confirmation",
                 "Are you sure to reset instance %s created by %s?" % (data.instance["name"], data.instance["created-by"]["name"]),
                 url_for("instances.action", id=data["instance"]["id"], command="reset"))}}
  {{modal_dialog("delete", "Delete Confirmation",
                 "Are you sure to delete instance %s created by %s?" % (data.instance["name"], data.instance["created-by"]["name"]),
                 url_for("instances.action", id=data["instance"]["id"], command="remove"),
                 cannot_revert=True)}}

  <div class='container'>
    <div>
      <div class="btn-group span4" style="margin: 0px 0px 20px 0px;">
        <a href="#reboot" class="btn btn-success" data-toggle="modal">Reboot</a>
        <a href="#reset" class="btn btn-success" data-toggle="modal">Reset</a>
        <a href="{{url_for("instances.action", id=data.instance["id"], command="vnc")}}"  target="_blank" class="btn btn-success">Show VNC</a>
        <a href="{{url_for("instances.action", id=data.instance["id"], command="console-output")}}"  target="_blank" class="btn btn-success">Show log</a>
      </div>
      <div class="span1 pull-right" style="margin: 0px 0px 20px 0px;">
        <a href="#delete" class="btn btn-danger" data-toggle="modal">Delete</a>
      </div>
    </div>
    <table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
      <tr>
        <td colspan=2>
          <h4>
            Instance
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        <td>{{data.instance["id"]}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{"%s%s" % (data.instance["state"], " (no suitable host found)" if not data.instance["hostId"] and data.instance["state"] == "ERROR" else "")}}</td>
      </tr>
      <tr>
        <td>VLAN</td>
        <td>{{data.network["vlan"]}}</td>
      </tr>
      <tr>
        <td>IP</td>
        <td>
          {% for ip in data.instance["ipv4"] %}
            {% if not loop.last %}, {% endif %}
            {{ip}}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{data.instance["created"] | datetimeformat("%d/%m/%Y %H:%M:%S")}}</td>
      </tr>
      <tr>
        <td>Project</td>
        <td><a href="{{url_for("projects.show", id=data.instance["project"]["id"])}}">{{data.instance["project"]["name"]}}</a></td>
      </tr>
      <tr>
        <td>User</td>
        <td>
          <a href="{{url_for("projects.members_show", id=data.instance["created-by"]["id"])}}">{{data.instance["created-by"]["name"]}}</a>
        </td>
      </tr>
      <tr>
        <td>Security Groups</td>
        <td>
          {% for fw_rule_set in data.fw_rule_sets %}
            <a href='{{ url_for("projects.fw_rule_sets_edit", id=fw_rule_set["id"]) }}'>
              {{ fw_rule_set["name"] }}
            </a>
          {% endfor %}
        </td>
      </tr>
    </table>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td colspan=2>
          <h4>
            Image
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        {# get image id from instance dictionary because the image object
        can be deleted #}
        <td>{{data.instance["image"]["id"]}}</td>
      </tr>
      {% if data.image %}
        <tr>
          <td>Name</td>
          <td><a href="{{url_for("images.show", id=data.instance["image"]["id"])}}">{{data.image["name"]}}</a></td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{data.image["size"] | filesizeformat}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            {% if data.image["kernel"] %}
              Amazon Like
            {% else %}
              Solid
            {% endif %}
          </td>
        </tr>
      {% endif %}
    </table>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td colspan=2>
          <h4>
            Type
          </h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        <td>{{data.instance["instance-type"]["id"]}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td><a href="{{url_for("instances.types_show", id=data.instance["instance-type"]["id"])}}">{{data.instance_type["name"]}}</a></td>
      </tr>
      <tr>
        <td>RAM</td>
        <td>{{data.instance_type["ram"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Disk</td>
        <td>{{data.instance_type["root-size"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Additional Disk</td>
        <td>{{data.instance_type["ephemeral-size"] | filesizeformat}}</td>
      </tr>
      <tr>
        <td>Virtual CPUs</td>
        <td>{{data.instance_type["cpus"]}}</td>
      </tr>
    </table>
  </div>
{% endblock %}
