{% extends "base/base.html" %}

{% macro type_table(x) -%}
  <div class='span6' style='overflow: hidden'>
    <table class='tiled-list__item'>
      <tr>
        <td class='name'>{{ x['name'] }}</td>
        <td class='value'>{{ x['ram']|filesizeformat }}</td>
        <td class='value'>{{ (x['cost-total'] / 12.0) | costformat }}
        $/month</td>
        <td class='value'>{{ x['root-size']|filesizeformat }}</td>
        <td class='value'>{{ x['ephemeral-size']|filesizeformat }}</td>
        <td class='value'>{{ x['cpus'] }}</td>
      </tr>
      <tr>
        <td class='actions nobr'>
          <a class='btn btn-mini btn-success' href="{{url_for('.spawn')}}?instance_type={{ x['id'] }}">
            <i class='icon-plus-sign icon-white'></i>
            Instance
          </a>
        </td>
        <td class='title'>RAM</td>
        <td class='title'>Cost</td>
        <td class='title'>Disk</td>
        <td class='title'>Additional&nbsp;Disk</td>
        <td class='title'>Virtual&nbsp;CPUs</td>
      </tr>
    </table>
  </div>
{%- endmacro %}

{% block content %}
  <div class='container'>
    <div class='tiled-list'>
      {% for row in data.types|batch(2, None) %}
        <div class="row">
          {% for itype in row %}
            {% if itype is not none %}
              {{ type_table(itype) }}
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
