{% extends "base/base.html" %}


{% block content %}
  {% from 'base/macros.html' import spawn_instance_button %}

<div class='container'>
  <div>
    {{spawn_instance_button("instance_type=" + data.instance_type["id"])}}
  </div>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <td colspan=2>
        <h4>
          Type
        </h4>
      </td>
    </tr>
    <tr>
      <td width="200px">Id</td>
      <td>{{data.instance_type["id"]}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{data.instance_type["name"]}}</a></td>
    </tr>
    <tr>
      <td>RAM</td>
      <td>{{data.instance_type["ram"] | filesizeformat}}</td>
    </tr>
    <tr>
      <td>Disk</td>
      <td>{{data.instance_type["root-size"] | filesizeformat}}</td>
    </tr>
    <tr>
      <td>Additional Disk</td>
      <td>{{data.instance_type["ephemeral-size"] | filesizeformat}}</td>
    </tr>
      <td colspan=2>
        <h4>
          Cost
        </h4>
      </td>
    <tr>
      <td>Total</td>
      <td>${{ (data.instance_type["cost-total"] / 12.0) | costformat }}/month</td>
    </tr>
    <tr>
      <td>Virtual CPUs</td>
      <td>${{ (data.instance_type["cost-cpus"] / 12.0) | costformat }}/month</td>
    </tr>
    <tr>
      <td>RAM</td>
      <td>${{ (data.instance_type["cost-ram"] / 12.0) | costformat }}/month</td>
    </tr>
    <tr>
      <td>Total Disk</td>
      <td>${{ (data.instance_type["cost-total-size"] / 12.0) | costformat }}/month</td>
    </tr>
  </table>
</div>
{% endblock %}
