{% extends "base/base.html" %}


{% block css %}
<link href="{{ url_for('static', filename='deps/select2/select2.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='deps/jquery/css/jquery-ui-1.8.24.custom.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='focus2/css/select2.css') }}" rel='stylesheet' type='text/css'>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='deps/angular/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='deps/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='deps/jquery/js/jquery-ui-1.8.24.custom.min.js') }}"></script>
{% endblock %}


{% block content %}
  {% from 'base/macros.html' import spawn_vm_button %}
  {% from 'base/macros.html' import modal_dialog %}

  {{modal_dialog("delete", "Delete Confirmation",
                 "Are you sure to delete image %s?" % data["image"]["name"],
                 url_for("images.action", id=data["image"]["id"], command="remove"),
                 cannot_revert=True)}}

  <div class="container">

    <div>
      {% if data.image is image_spawnable %}
        {{spawn_vm_button("image=" + data.image["id"])}}
      {% endif %}
      <div class="span1 pull-right" style="margin: 0px 0px 20px 0px;">
        <a href="#delete" class="btn btn-danger" data-toggle="modal">Delete</a>
      </div>
    </div>

    <table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
      <tr>
        <td colspan=2>
          <h4>Details</h4>
        </td>
      </tr>
      <tr>
        <td width="200px">Id</td>
        <td>{{data.image["id"]}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{data.image["name"]}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          {% if data.image["kernel"] %}
            Amazon machine image
          {% else %}
            Solid
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Disk Format</td>
        <td>{{data.image["disk-format"] | diskformat}}</td>
      </tr>
      <tr>
        <td>Global</td>
        <td>
          {% if data.image["global"] %}
            <i class="icon icon-check"></i>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{data.image["size"] | filesizeformat(exactly=True)}}</td>
      </tr>
      <tr>
        <td>Uploaded</td>
        <td>{{data.image["created"] | datetimeformat("%d/%m/%Y %H:%M:%S")}}</td>
      </tr>
      <tr>
        <td>Download URL</td>
        <td>
          <a href="{{url_for("images.show", id=data.image["id"], _external=True)}}?download">{{url_for("images.show", id=data.image["id"], _external=True)}}?download</a>
        </td>
      </tr>
    </table>
    {% if data.kernel %}
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <td colspan=2>
            <h4>Kernel</h4>
          </td>
        </tr>
        <tr>
          <td width="200px">Id</td>
          <td>{{data.kernel["id"]}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td><a href="{{url_for("images.show", id=data.kernel["id"])}}">{{data.kernel["name"]}}</a></td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{data.kernel["size"] | filesizeformat(exactly=True)}}</td>
        </tr>
      </table>
    {% endif %}
    {% if data.ramdisk %}
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <td colspan=2>
            <h4>Initrd</h4>
          </td>
        </tr>
        <tr>
          <td width="200px">Id</td>
          <td>{{data.ramdisk["id"]}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td><a href="{{url_for("images.show", id=data.ramdisk["id"])}}">{{data.ramdisk["name"]}}</a></td>
        </tr>
        <tr>
          <td>Size</td>
          <td>{{data.ramdisk["size"] | filesizeformat(exactly=True)}}</td>
        </tr>
      </table>
    {% endif %}
  </div>
{% endblock %}
