!!! 5
%html(lang="en")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title
      {{ app_title }}
    %meta(name="description" content="{{ page_description }}")
    %link(rel="shortcut icon" href="{{ url_for('static', filename='focus2/img/favicon.ico') }}")
    {% block base_css %}{% endblock %}
    {% block css %}{% endblock %}
    {% block base_js %}{% endblock %}
    {% block js %}{% endblock %}
  %body(class="{% block body_class %}{% endblock %}")
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    .container.b-footer
      %a(href="https://altaicloud.atlassian.net/") Altai
      Focus UI v.42
      Build #10500 [26-Dec-2012]
      &nbsp;|&nbsp;
      %a(href="http://griddynamics.zendesk.com/") Support&nbsp;Desk
      &nbsp;|&nbsp;
      %a(href="http://altaicloud.myjetbrains.com/") Issues Tracker

