<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
    <title>
      {{ app_title }}
    </title>
    <meta content='{{ page_description }}' name='description'>
    <link href="{{ url_for('base.static', filename='focus2/img/favicon.ico') }}" rel='icon' type='image/x-icon'>
    {% block base_css %}{% endblock %}
    {% block css %}{% endblock %}
    {% block base_js %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body class='{% block body_class %}{% endblock %}'>
    {% block navbar %}{% endblock %}
    {% block flash_messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class='alert alert-{{ category }}'>
      <button class='close' data-dismiss='alert' type='button'>&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endblock %}
    {% block breadcrumbs %}
    {% if breadcrumbs or breadcrumb_button %}
    <ul class='breadcrumb'>
      {% if breadcrumbs %}
      {% for title, url in breadcrumbs %}
      <li class='{% if loop.last %}active{% endif %}'>
        {% if url is not none %}
        <a href='{{ url }}'>{{ title }}</a>
        {% else %}
        {{ title }}
        {% endif %}
        {% if not loop.last %}
        <span class='divider'>/</span>
        {% endif %}
      </li>
      {% endfor %}
      {% endif %}
      {% if breadcrumb_button %}
      <li class='pull-right'>
        <a class='btn btn-mini btn-success nobr' href='{{ breadcrumb_button[0] }}'>
          <i class='icon-plus-sign icon-white'>
            &nbsp;
            {{ breadcrumb_button[1] }}
          </i>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
    <div class='container b-footer'>
      <a href='https://altaicloud.atlassian.net/'>Altai</a>
      Focus UI v.{{ application_version }}
      &nbsp;|&nbsp;
      <a href='http://griddynamics.zendesk.com/'>Support&nbsp;Desk</a>
      &nbsp;|&nbsp;
      <a href='http://altaicloud.myjetbrains.com/'>Issues Tracker</a>
    </div>
  </body>
</html>
