{% macro input_horizontal(field, ng_model=None) -%}
<div class='control-group{% if field.errors %} error{% endif %}'>
  {% if field.widget.input_type != 'checkbox' %}
  <label class='control-label' for='{{ field.label.field_id }}'>
    {{ field.label.text }}
  </label>
  {% endif %}
  <div class='controls'>
    {% if field.widget.input_type == 'checkbox' %}
    <label class='checkbox'>
      {% if field.data %}
      <input class='checkbox' name='{{ field.name }}' type='checkbox'>
      {% else %}
      <input class='checkbox' name='{{ field.name }}' type='checkbox'>
      {% endif %}
      {{ field.label.text }}
    </label>
    {% else %}
    {% if ng_model is not none %}
    <input id='{{ field.label.field_id }}' name='{{ field.name }}' ng-init='{{ ng_model }} = {{ field.data|tojson }}' ng-model='{{ ng_model }}' type='{{ field.widget.input_type }}' value='{% if field.data %}{{ field.data }}{% endif %}'>
    {% else %}
    <input id='{{ field.label.field_id }}' name='{{ field.name }}' placeholder='{{ field.placeholder }}' type='{{ field.widget.input_type }}' value='{% if field.data %}{{ field.data }}{% endif %}'>
    {% endif %}
    {% endif %}
    {% if field.errors %}
    <span class='help-inline'>
      {% for x in field.errors %}
      {% if not loop.first %}
      <br>
      {% endif %}
      {{ x }}
      {% endfor %}
    </span>
    {% endif %}
  </div>
</div>
{%- endmacro %}
