{% extends "authentication/base.html" %}


{% block content %}
{% from 'base/macros.html' import input_horizontal %}
.row
  .offset3.span6
    %form.form-horizontal(action='.' method='POST')
      {{ form.hidden_tag() }}
      .control-group
        .controls
          %h4 Login
      {{ input_horizontal(form.name) }}
      {{ input_horizontal(form.password) }}
      {{ input_horizontal(form.remember_me) }}
      .control-group
        .controls
          %button.btn(type='submit') Sign in
          &nbsp;::&nbsp;
          %a(href="{{ url_for('.recover_password') }}") recover password
          &nbsp;::&nbsp;
          %a(href="{{ url_for('.recover_name') }}") recover name
{% endblock %}
