{% extends "authentication/base.html" %}

{% block content %}
.row
  .offset3.span6
    %form.form-horizontal(action='.' method='POST')
      .control-group
        .controls
          %h4 Recover Password
      .control-group
        %label.control-label(for='id_email') Email
        .controls
          %input#id_name(placeholder='Email' type='text')
      .control-group
        .controls
          %label.checkbox
            %input.checkbox(type='checkbox')
            Remember me
          %button.btn(type='submit') Sign in
          &nbsp;::&nbsp;
          %a(href="{{ url_for('.login') }}") login
          &nbsp;::&nbsp;
          %a(href="{{ url_for('.recover_name') }}") recover name
{% endblock %}